@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/neue/ppneuemontreal-thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/neue/ppneuemontreal-book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/neue/ppneuemontreal-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/neue/ppneuemontreal-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/neue/ppneuemontreal-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/neue/ppneuemontreal-semibolditalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nord";
  src:
    url("/fonts/nord/NORD-Regular.woff2") format("woff2"),
    url("/fonts/nord/NORD-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nord";
  src:
    url("/fonts/nord/NORD-BoldItalic.woff2") format("woff2"),
    url("/fonts/nord/NORD-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nord";
  src:
    url("/fonts/nord/NORD-Light.woff2") format("woff2"),
    url("/fonts/nord/NORD-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
