@theme {
  --color-background: oklch(0% 0 0);
  --color-foreground: oklch(100% 0 0);
  --color-muted: oklch(65.2% 0 0);
  --color-gray: oklch(85.5% 0 0);
  --color-dark-gray: #bebebe;
  --color-muted-foreground: oklch(15.5% 0 0);

  --color-button-border: #565656;
  --color-button-bg: oklch(20% 0 0);
  --color-button-hover: oklch(25% 0 0);

  --font-neue: "NeueMontreal", sans-serif;
  --font-nord: "Nord", "Crimson Text", "Times New Roman", serif;

  --color-border: rgb(156 163 175 / 0.3);
  --color-border-muted: oklch(65.2% 0 0);
}
