@import "tailwindcss";

@theme {
  --color-background: oklch(0% 0 0); /* Black */
  --color-foreground: oklch(100% 0 0); /* White */
  --color-muted: oklch(65.2% 0 0); /* #9B9B9B */
  --color-gray: oklch(85.5% 0 0);
  --color-muted-foreground: oklch(15.5% 0 0); /* Dark Grey */

  --color-button-border: #565656;
  --color-button-bg: oklch(20% 0 0);
  /* --color-button-bg: rgba(255, 255, 255, 0.04); */
  --color-button-hover: oklch(25% 0 0);

  --font-neue: "NeueMontreal", sans-serif;
  --font-nord: "Nord", "Crimson Text", "Times New Roman", serif;
}

@font-face {
  font-family: "NeueMontreal";
  src:
    url("/fonts/neue/NeueMontreal-Regular.woff2") format("woff2"),
    url("/fonts/neue/NeueMontreal-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src:
    url("/fonts/neue/NeueMontreal-Bold.woff2") format("woff2"),
    url("/fonts/neue/NeueMontreal-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nord";
  src:
    url("/fonts/nord/NORD-Regular.woff2") format("woff2"),
    url("/fonts/nord/NORD-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nord";
  src:
    url("/fonts/nord/NORD-BoldItalic.woff2") format("woff2"),
    url("/fonts/nord/NORD-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-background text-foreground font-neue;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-nord font-bold;
  }
}

@layer utilities {
  @keyframes lightSweep {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  @keyframes border-spin {
    100% {
      transform: rotate(360deg);
    }
  }

  .glint-button-wrapper {
    @apply relative overflow-hidden rounded-full;
    padding: 1px;
  }

  .glint-button-wrapper::before {
    content: "";
    position: absolute;
    scale: 1.7;
    left: -100%;
    top: -100%;
    width: 300%;
    height: 300%;
    background:
      conic-gradient(
        from 0deg,
        transparent 250deg,
        rgba(255, 255, 255, 0.6) 340deg,
        rgba(255, 255, 255, 1) 360deg,
        rgba(255, 255, 255, 0.6) 20deg,
        transparent 40deg
      ),
      radial-gradient(circle, #565656 0%, #565656 100%);
    border-radius: 50%;
    animation: border-spin var(--animation-duration, 5s) linear infinite;
    z-index: 1;
  }

  .glint-button-content {
    @apply relative h-full w-full rounded-full bg-button-bg z-10;
  }
}
